.changelog {
    position: absolute;
    left: 2.8rem;
    top: 95.5%;
    width: 8rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
}

.changelog:hover {
    font-style: bold;
    font-weight: 700;
}

.newli {
    color: #1f22e7;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.scrolleable {
    overflow-y: scroll;
    height: 100%;
}

.verMas {
    background: none;
    margin-bottom: 1rem;
    font-family: 'Roboto';
    font-weight: 250;
}

.verMas:hover {
    font-weight: 700;
}