.boton {
    position: absolute;
    left: 133%;
    top: 131%;
    width: 11rem;
    height: 2.5rem;
    background-color: #F65108;
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    border-radius: 20px;
}

.boton:hover {
    background-color: #f86c31;
}

.icono {
    cursor: pointer;
}

.containerGeneral {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.containerEfectivo {
    font-family: 'Roboto';
    font-weight: bold;
    position: relative;
    width: 13rem;
    height: 24rem;
    border-radius: 30px;
    box-shadow: 0.1rem 0.1rem 0.6rem 0 #bebaba;
    background-color: #F1F2F2;
}

.grid1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 1fr 1fr;
    grid-gap: 0.1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    line-height: 21px;
    font-weight: lighter;
    font-size: 15px;
}

.containerEfectivo p {
    margin-top: 0.5rem;
}

.inputs {
    width: 6.2rem;
    height: 1.5rem;
    margin-top: 0.4rem;
}

.containerVales{
    position: relative;
    width: 15rem;
    height: 20rem;
    font-family: 'Roboto';
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0.1rem 0.1rem 0.6rem 0 #bebaba;
    background-color: #F1F2F2;
    margin-left: 1.3rem;   
}

.gridOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0.5rem;
    line-height: 10px;
    font-weight: lighter;
    text-align: center;
}

.gridx {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0.5rem;
    line-height: 10px;
    font-weight: lighter;
    text-align: center;
}

.inputs3 {
    width: 3.5rem;
    height: 1.3rem;
    margin-top: -0.3rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.inputs2 {
    width: 10rem;
    height: 1.5rem;
    margin-top: -0.5rem;
}

.containerMetodoPagos {
    position: relative;
    width: 15rem;
    height: 20rem;
    font-family: 'Roboto';
    font-weight: bold;
    box-shadow: 0.1rem 0.1rem 0.6rem 0 #bebaba;
    margin: -26rem 0 0 31.6rem;
    border-radius: 30px;
    padding: 1rem;
    background-color: #F1F2F2;    
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    line-height: 20px;
    margin-top: -1rem;
}

.containerRecaudacion {
    font-family: 'Roboto';
    font-weight: bold;
    position: relative;
    width: 32rem;
    height: 13rem;
    border-radius: 30px;
    box-shadow: 0.1rem 0.1rem 0.6rem 0 #bebaba;
    margin: 1rem 0 0 14.8rem;
    background-color: #F1F2F2; 
    padding-top: 25px;
}

.grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: -1rem;
    margin-left: 3.5rem;
}

.inputs4 {
    width: 12rem;
    height: 1.5rem;
    background: white !important;
}

.boton2 {
    margin-top: 1rem;
    margin-left: 36.8rem;
    width: 10rem;
}

.error {
    color: red;
    font-size: 12px;
    margin-left: 1rem;
    margin-top: 1rem;
}

.error2 {
    color: red;
    font-size: 12px;
    margin-left: 1rem;
}

@media screen and ( min-width: 1800px) {
    .boton {
        position: absolute;
        left: 140.5%;
        top: 129%;
        width: 14rem;
        height: 3rem;
        font-size: 17px;
        text-align: right;
        padding: 0.5rem 0 0 2rem;
    }

    .icono{
        width: 3rem;
        height: 2rem;
    }
}

@media screen and ( max-width: 1366px ) {
    
    .boton {
        left: 133%;
        top: 132%;
        width: 10rem;
        height: 2rem;
        border: none;
        border-radius: 20px;
        font-size: 14px;
    }
}
